<!DOCTYPE html>
<html>

  <head>


    

      <link href="assets/Stylesheet1.css" rel="stylesheet" />
    
    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link href="//ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css" rel="stylesheet">

    <!-- apiCheck is used by formly to validate its api -->
    <script src="//unpkg.com/api-check@latest/dist/api-check.js"></script>
    
    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.js"></script>
    
    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>

    <!-- This is the latest version of formly core. -->
    <script src="//unpkg.com/angular-formly@latest/dist/formly.js"></script>
      <script src="src/tests/JavaScript.js"></script>
          <!--<script src="src/tests/nth.app.js"></script>-->
	<script src="src/tests/nth.http.js"></script>
	<script src="src/tests/nth.models.js"></script>
    <title>Angular Formly Example</title>
  </head>

  <body ng-app="formlyExample"  class="icondemoFontIconsWithClassnames">
         <div ng-controller="ModelsController as vm">
      <h1>angular-formly example: {{vm.exampleTitle}}</h1>
    
      <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
        <formly-form model="model" fields="formFields" options="vm.options" form="vm.form">
          <md-button type="submit" class="md-raised md-primary" ng-disabled="vm.form.$invalid">Submit</md-button>
          <md-button type="button" class="md-raised" ng-click="vm.options.resetModel()">Reset</md-button>
        </formly-form>
      </form>
      <hr />
      <h2>Model Value</h2>
      <pre>{{vm.model | json}}</pre>
      <h2>Fields <small>(note, functions are not shown)</small></h2>
      <pre>{{vm.originalFields | json}}</pre>
      <h2>Form</h2>
      <pre>{{vm.form | json}}</pre>
    </div>

  
    <div ng-controller="MainCtrl as vm">
      <h1>angular-formly example: {{vm.exampleTitle}}</h1>
      <div>
        This example shows some integration with <a href="https://material.angularjs.org">Angular Material</a>.
        There is a work-in-progress library out there called
        <a href="https://github.com/formly-js/angular-formly-templates-material">angular-formly-templates-material</a>,
        but it isn't ready yet so this example is just to show how to get started. If you're interested in contributing
        to a full-on library, please comment
        <a href="https://github.com/formly-js/angular-formly-templates-material/issues/1">here</a>
      </div>
      <hr />
      <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
        <formly-form model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
          <md-button type="submit" class="md-raised md-primary" ng-disabled="vm.form.$invalid">Submit</md-button>
          <md-button type="button" class="md-raised" ng-click="vm.options.resetModel()">Reset</md-button>
        </formly-form>
      </form>
      <hr />
      <h2>Model Value</h2>
      <pre>{{vm.model | json}}</pre>
      <h2>Fields <small>(note, functions are not shown)</small></h2>
      <pre>{{vm.originalFields | json}}</pre>
      <h2>Form</h2>
      <pre>{{vm.form | json}}</pre>
    </div>

    <div style="margin-top:30px">
      <small>
        This is an example for the
        <a href="https://formly-js.github.io/angular-formly">angular-formly</a>
        project made with ♥ by
        <strong>
          <span ng-if="!vm.author.name || !vm.author.url">
            {{vm.author.name || 'anonymous'}}
          </span>
          <a ng-if="vm.author.url" ng-href="{{::vm.author.url}}">
            {{vm.author.name}}
          </a>
        </strong>
        <br />
        This example is running angular version "{{vm.env.angularVersion}}" and formly version "{{vm.env.formlyVersion}}"
      </small>
    </div>

    <!-- Put custom templates here -->

  </body>

</html>
